/****************/
/*    GLOBAL    */
/****************/

body {
    margin: 0;
    font-family: 'Cantarell', sans-serif;
}

hr {
    margin-left: 48%;
    margin-right: 48%;
}

h2 {
    text-align: center;
}

/****************/
/*    HEADER    */
/****************/
header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 8em;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo p {
    color: white;
}

.header-returnAccueil {
    display: flex;
    align-items: center;
    padding-right: 0.6em;
}

.header-returnAccueil a {
    height: 2em;
    color: white;
    padding-right: 2em;
    text-decoration: none;
}

.header-returnAccueil a:hover {
    color: red;
}

/****************/
/*    HOMEPAGE  */
/*    SECTION   */
/****************/

.section-homepage {
    background-image: url('../image/BfA.jpg');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 1em red;
    padding-bottom: 6em;
}

.section-homepage h1 {
    font-family: 'Cagliostro', sans-serif;
    text-align: center;
    padding-top: 4em;
    margin: 0;
    font-size: 3rem;
    color: white;
}

h1 {
    text-shadow: 0 5px 0 black;
}

.section-homepage a {
    margin: 3em 35% 0 35%;
    width: 30%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 0;
    text-decoration: none;
}

.section-homepage a:hover {
    box-shadow: inset 0 0 1em red;
}

/****************/
/*    DIV IMG   */
/* START & FIGHT*/
/****************/

.section-image {
    background-image: url('../image/banner.png');
    height: 12em;
    background-size: cover;
}

/****************/
/*  START PAGE  */
/* INFOCARACTER */
/****************/

main {
    margin: 0 15% 2em 15%;
}

.section-start {
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
}

.moreInfo, .returnPage-start {
    margin: 1em 35% 0 35%;
    width: 30%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 0;
    text-decoration: none;
}

.moreInfo:hover, .returnPage-start:hover {
    box-shadow: inset 0 0 1em red;
}

.section-start h3 {
    margin-top: 0;
}

.section-start h4 {
    margin-bottom: 0;
}

.heros {
    width: 50%;
}

.section-start label {
    display: inline-block;
    width: 12%;
}

.monster {
    width: 49%;
    border-left: 1px solid black;
    padding-left: 1%;
}

.select {
    background-color: #fff;
}

.startGame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startGame .class-button {
    background-color: #666666;
    border: 0;
    color: white;
    width: 15%;
    height: 2em;
}

/****************/
/*  FIGHT PAGE  */
/****************/

.section-fight {
    margin-left: 15%;
    margin-right: 15%;
}

.action {
    border: 1px solid black;
    margin-bottom: 2em;
}

.action-title{
    display: flex;
    align-items: center;
}

.action-title img {

}

.action-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 10%;
    height: 3em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #666666;
    color: white;
}

.action-whoAttack {
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 90%;
    height: 3em;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.number-damage {
    padding-left: 1%;
}

.fight-character {
    display: flex;
}

.fight-character p {
    margin: 0;
}

.fight-heros {
    width: 48%;
    margin: 0 1% 0 1%;
}

.fight-monsters {
    width: 48%;
    margin: 0 1% 0 1%;
}

th, td {
    text-align: left;
    border: 1px solid #666666;
}

.result-fight {
    text-align: center;
    border: 1px solid grey;
}

.section-fight--text {
    display: flex;
}

/****************/
/*    FOOTER    */
/****************/

footer {
    padding-top: 0.8em;
    text-align: center;
    height: 8em;
    color: white;
    background-color: black;  
}